<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 				 http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	<!--<bean id="persion1" class="ms.springframework.bean.Persion">
		<property name="id" value="1"/>
		<property name="name" value="张三"/>
		<property name="address" value="浙江省杭州市西湖区"/>
	</bean>-->
	<!-- 如果scope声明成多例，那么构造方法会被缓存到beanDefinition.resolvedConstructorOrFactoryMethod属性中 -->
	<!--<bean id="person2" class="ms.springframework.bean.ConstructorPerson" scope="prototype">
		&lt;!&ndash;<property name="id" value="1"/>
		<property name="name" value="z张三"/>&ndash;&gt;
		<constructor-arg name="id" value="2"/>
		<constructor-arg name="name" value="张三"/>
	</bean>-->
	
	<bean id="user" class="ms.springframework.bean.User"/>

	<context:component-scan base-package="ms.springframework"/>
<!--	<bean name="myXmlBeanFactoryPostProcessor" class="ms.springframework.config.MyXmlBeanFactoryPostProcessor"/>-->
<!--	<bean name="myXmlBeanDefinitionRegistryPostProcessor" class="ms.springframework.config.MyXmlBeanDefinitionRegistryPostProcessor"/>-->
</beans>
